h1{
  color:black;
  font-family: 'Roboto', sans-serif;
  font-size: 32px;
  height:35px;
}


.img-back{
  width:1800px;
  height:800px;
  background-image: url(img/back.jpg);
  background-size:contain;
  background-repeat: no-repeat;

}


header{
  display:grid;
  grid-template-columns:3fr 1fr 1fr 1fr;
}
header div{
  color:black;
  font-family: 'Roboto', sans-serif;

  grid-column-start:2;
  grid-column-end:4;
  grid-row-start:1;
  grid-row-end: 1;
}


main{
  display:grid;
  grid-template-columns: 1fr 3fr 1fr;
}


main div{font-family: 'Roboto', sans-serif;


grid-column-start:2;
grid-column-end:3;
grid-row-start:1;
grid-row-end: 2;
}
